<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!--  <script type="text/javascript" src="./jquery/jquery-1.11.0.min.js"></script>
		<script type="text/javascript">
			//$(document).ready(function(){
			  //$("#b01").click(function(){
				 // htmlobj=$.getJSON({url:"http://192.168.56.50/zabbix-api/php/ZabbixAPITest.php",function(data){
				//	  console.log(data)
				  //}});
			  //$("#myDiv").html(htmlobj.responseText);
			 // });
			//});
		</script>-->
	</head>
	<body>
		<div id="myDiv"><h2>通过 AJAX 改变文本</h2></div>
		<button id="b01" type="button">改变内容</button>
	</body>
</html>